
<% if @port_id == nil %>
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#stockModal">Add Stock</button>
<div class="" style="background-color: white;">
  <h1>My Stocks:</h1>
  <% binding.pry %>
  <%= @stocks.each do |s| %>
    <%= s.symbol %><br>
  <% end %>

</div>

<% else %>
<div class="container pt-2 pb-3">
<div class="">
  <%= form_with url: portfolio_path(@port_id), method: :delete do |form| %>
    <%= form.submit "Delete Portfolio", class: "btn btn-danger delete-portfolio" %>
  <% end %>
  <button type="button" id="astp" name="button" class="btn btn-primary astp" onclick="hideArea()">Add/remove stocks to/from the portfolio</button>
  <div class="btn-group">
    <%= form_with url: '/port_stocks', method: :patch do |form| %>
    <%= form.hidden_field :port_id, value: @port_id %>
    <%= form.select :stock_id, options_from_collection_for_select(@stocks, "id", "symbol"), class: "btn btn-primary" %>
    <%= form.number_field :shares %>
    <%= form.submit "Update", class: "btn btn-primary" %>
    <% end %>
  </div>

</div>
    <div class="row">
        <div class="col-md-10 no-float">
          <div class="table">
            <br>
              <table class="table table-striped table-bordered border-custom table-light">
              <thead>
              <tr>
                <th scope="col">Symbol</th>
                <th scope="col">Name</th>
                <th scope="col">Shares</th>
              </tr>
              </thead>
              <tbody>
              <% @stocks.each do |stock| %>
                <tr>
                  <td><%= stock.symbol %></td>
                  <td><%= stock.name %></td>
                  <td id="x"><%= stock.shares %></td>
                  <td class="update-column d-none">

                    <%= form_with url: "/port_stocks/#{find_port_stock_id(stock.id, @port_id)}", method: :patch do |form| %>
                    <%= form.hidden_field "port_id", value: @port_id %>
                    <%= form.label "Amount:" %>
                    <%= form.number_field :shares %>
                    <%= form.submit "Update" %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
              </tbody>
              </table>
              </div>
        </div>

        <div class="col-md-2 no-float a d-none" id="one">
          If you do not currently have any stocks to add, please click MyStocks at the top to add some! <br>
          Select stocks you want to add to portfolio: <br>
          <%= form_with url: '/port_stocks', method: :post do |form| %>
            <% @all_stocks.each do |s| %>
              <input type="checkbox" name="stock_ids[]" id="<%= s.id %>" value="<%= s.id %>" <%= 'checked' if stock_exist?(@port_id.to_i, s.id)%>> <%= s.symbol %><br>
              <input type="hidden" name="port_id" value=<%= @port_id %> >
            <% end %>
            <%= form.submit "Update Portfolio" %>
          <% end %>
        </div>
    </div>
</div>
<% end %>

<!-- Modal -->
<div class="modal fade" id="stockModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Enter a portfolio name!</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <%= form_with url: '/stocks', method: :post do |form| %>
        <div class="modal-body">
          <%= form.label "Ticker:" %><br>
          <%= form.text_field :ticker %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <%= form.submit "Create", class: "btn btn-primary" %>
      </div>
      <% end %>
    </div>
  </div>
</div>


<script type="text/javascript">
  function hideArea() {
    let area = document.getElementById('one')
    if (area.className == "col-md-2 no-float a d-none") {
      area.className = "col-md-2 no-float a"
    } else {
      area.className = "col-md-2 no-float a d-none"
    }
  }

</script>
