
<% if @params == nil %>
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#stockModal">Add Stock</button>
<% else %>
<div class="container pt-3 pb-3">
    <div class="row">
        <div class="col-md-10 no-float">Navigation</div>
          <ul>
            <% @stocks.each do |s| %>
              <li><%= s.symbol %></li>
            <% end %>
          </ul>
        <div class="col-md-2 no-float a">
          Select stocks you want to add to portfolio: <br>
          <%= form_with url: '/port_stocks', method: :post do |form| %>
            <% @all_stocks.each do |s| %>
              <input type="checkbox" name="stock_ids[]" value=<%= s.id %>> <%= s.symbol %><br>
              <input type="hidden" name="port_id" value=<%= @params %> >
            <% end %>
            <%= form.submit "Add Stocks" %>
          <% end %>
        </div>
    </div>
</div>
<% end %>

<!-- Modal -->
<div class="modal fade" id="stockModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Enter a portfolio name!</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <%= form_with url: '/stocks', method: :post do |form| %>
        <div class="modal-body">
          <%= form.label "Ticker:" %><br>
          <%= form.text_field :ticker %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <%= form.submit "Create", class: "btn btn-primary" %>
      </div>
      <% end %>
    </div>
  </div>
</div>
